<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration> 
      <session-factory>
           <!-- SQL Dialect -->
           <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
           
           <!-- Database connection settings -->
           <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
           <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/school</property>
           <property name="hibernate.connection.username">root</property> 
           <property name="hibernate.connection.password">Onkar</property>
           <property name="hibernate.connection.pool_size">1</property>         
           <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
           <property name="show_sql">true</property>
           <property name="hibernate.hbm2ddl.auto">update</property>
             <mapping class="com.hibernatemapping.School"/>
          <!-- <mapping class="onetoonebidirectional.Question11"/>
            <mapping class="onetoonebidirectional.Answer11"/>-->
       
       </session-factory> 
</hibernate-configuration>