body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 1px;
    height: 100%;
    background-image: url(bg1.jpg); /* Replace with your image URL */
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional */
    
}

p{
    line-height: 50px;
    font-size: 40px;
    color: black;

}
/* img{
    width: 400px;
    height: 400px;
    display: block;
    position: fixed;
            right: 10px;
            bottom: 10px; */

    /* margin-left: auto;
    margin-right: auto; */
    /* border-style: dashed;
    border-color: #999;
    border-width: 3px; */

h1{
    padding: 3px;
    letter-spacing: 2px;
    border-bottom: solid;
}
.image-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;

}
.animated-image {
    width: 200px; /* Adjust the width as needed */
    animation: slide 5s infinite;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(100vw - 200px)); /* Adjust the value based on image width */
    }
    100% {
        transform: translateX(0);
    }
}