body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 1px;
    height: 100%;
    background-image: url(bg1.jpg); /* Replace with your image URL */
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional */
    
}

p{
    font-family: 'Verdana', sans-serif; /* Use a specific font from Google Fonts */
        font-size: 20px; /* Adjust the font size */
        line-height: 2; /* Set line height for better readability */
        color: black; /* Change the text color */
        margin: 1.5em 0; /* Adjust margin for spacing */
        text-align: justify; /* Justify the text */
        text-indent: 2em; /* Indent the first line of the paragraph */
        font-style: italic;
        max-width: 1000px; /* Limit the width of the paragraph for readability */
        margin-left: auto; /* Center align the paragraph */
        margin-right: auto; /* Center align the paragraph */
}
h1{
    padding: 3px;
    letter-spacing: 2px;
    border-bottom: solid;
}
.image-container {
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;

}
.animated-image {
    width: 200px; /* Adjust the width as needed */
    animation: slide 5s infinite;
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(100vw - 200px)); /* Adjust the value based on image width */
    }
    100% {
        transform: translateX(0);
    }
}
